In [198]:
import pandas as pd

In [200]:
modulo1 = pd.read_csv('Enaho01-2020-100.csv')

In [201]:
modulo341 = pd.read_csv('Sumaria-2020.csv')

2. - ¬øCu√°les son las dimensiones de la sumaria? (o el n√∫mero de filas y columnas).
   - ¬øCu√°les son las dimensiones del m√≥dulo de vivienda? (o el n√∫mero de filas y columnas).

In [202]:
modulo1.shape

(53423, 331)

In [203]:
modulo341.shape

(34490, 179)

In [204]:
modulo341

,AÔøΩO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,MIEPERHO,TOTMIEHO,...,LINEA,POBREZA,TIPOCUESTIONARIO,TIPOENTREVISTA,FACTOR07,NCONGLOME,SUB_CONGLOME,LINEAV_RPL,LINEAV,POBREZAV
0,2020,1,5009,12,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,560.468506,4
1,2020,1,5009,41,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,553.731506,4
2,2020,1,5009,98,11,10101,4,4,6,6,...,303.520996,3,0,1,149.202744,7076,0,657,547.194031,3
3,2020,1,5015,7,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,556.025330,4
4,2020,1,5015,19,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,548.526917,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,2020,12,20305,31,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.312134,4
34486,2020,12,20305,52,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,642.814026,4
34487,2020,12,20305,73,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.782898,4
34488,2020,12,20305,116,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,643.160034,3
34489,2020,12,20305,137,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,639.233521,3

3. En esta oportunidad no necesitaremos todas las variables de la ENAHO para hacer esta tarea. 
- Qued√©monos con las variables ``` CONGLOME VIVIENDA HOGAR MIEPERHO PERCEPHO POBREZA GASHOG2D INGHOG2D ``` de la sumaria. 
- Qued√©monos con las variables ``` CONGLOME VIVIENDA HOGAR RESULT NBI1 NBI2 NBI3 NBI4 NBI5 ``` del m√≥dulo de vivienda.

 
 Nota: cada una de las variables es:
- MIEPERHO: n√∫mero de miembros del hogar. 
- PERCEPHO: n√∫mero de perceptores del hogar (que reciben un ingreso). 
- POBREZA: Pobreza monetaria seg√∫n la l√≠nea de pobreza. 
- GASHOG2D: Gasto bruto anual del hogar. 
- INGHOG2D: Ingreso anual neto total del hogar. 

Necesidades b√°sicas:
- NBI1: vivienda inadecuada.
- NBI2: hacinamiento
- NBI3: vivienda sin servicios higi√©nicos
- NBI4: hogares con  ni√±os que no asisten a la escuela.
- NBI5: hogares con alta dependencia econ√≥mica 

CONGLOME, VIVIENDA y HOGAR son los identificadores √∫nicos a nivel de hogar (como un key id).

In [205]:
needed1 = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'RESULT', 'NBI1', 'NBI2', 'NBI4', 'NBI5']

In [206]:
needed341 = ['CONGLOME', 'VIVIENDA', 'MIEPERHO', 'PERCEPHO', 'POBREZA', 'GASHOG2D', 'INGHOG2D']

In [207]:
modulo1[needed1]

       CONGLOME  VIVIENDA  HOGAR  RESULT NBI1 NBI2 NBI4 NBI5
0          5009        12     11       1    0    0    0    0
1          5009        41     11       1    0    0    0    0
2          5009        56     11       7
3          5009        84     11       7
4          5009        98     11       1    0    0    0    0
...         ...       ...    ...     ...  ...  ...  ...  ...
53418     20305        52     11       1    0    0    0    0
53419     20305        73     11       1    1    0    0    0
53420     20305        94     11       7
53421     20305       116     11       1    0    0    0    0
53422     20305       137     11       1    0    0    0    0

[53423 rows x 8 columns]

In [208]:
modulo341_small = modulo341[needed341]

In [209]:
modulo1_small = modulo1[needed1]

In [210]:
modulo1_small

       CONGLOME  VIVIENDA  HOGAR  RESULT NBI1 NBI2 NBI4 NBI5
0          5009        12     11       1    0    0    0    0
1          5009        41     11       1    0    0    0    0
2          5009        56     11       7
3          5009        84     11       7
4          5009        98     11       1    0    0    0    0
...         ...       ...    ...     ...  ...  ...  ...  ...
53418     20305        52     11       1    0    0    0    0
53419     20305        73     11       1    1    0    0    0
53420     20305        94     11       7
53421     20305       116     11       1    0    0    0    0
53422     20305       137     11       1    0    0    0    0

[53423 rows x 8 columns]

In [211]:
modulo341_small

,CONGLOME,VIVIENDA,MIEPERHO,PERCEPHO,POBREZA,GASHOG2D,INGHOG2D
0,5009,12,2,2,3,25065.796875,37274.425781
1,5009,41,2,2,3,28650.019531,41967.570312
2,5009,98,6,4,3,38136.218750,42292.535156
3,5015,7,4,3,3,26812.154297,37866.210938
4,5015,19,4,3,3,63311.539062,91681.960938
...,...,...,...,...,...,...,...
34485,20305,31,1,1,3,12997.472656,14227.951172
34486,20305,52,1,1,3,10690.595703,11442.000000
34487,20305,73,1,1,3,11576.803711,12847.000000
34488,20305,116,4,1,3,23779.029297,21009.353516
34489,20305,137,4,2,3,16872.869141,19822.650391

4. El m√≥dulo vivienda incluye todos los hogares que entraron en el marco muestral, incluso aquellos que no participaron en la ENAHO por diversos motivos. Para eliminar estas viviendas, qued√©monos con aquellas cuyo ``` RESULT``` sea igual a 1 √≥ 2. Almacena este resultado para despu√©s.

Type Markdown and LaTeX:  ùõº2

In [212]:
cond1 = modulo1_small['RESULT'] >= 1

cond2 = modulo1_small['RESULT'] <= 2


modulo1_smallr = modulo1_small[cond1 & cond2]

modulo1_smallr

       CONGLOME  VIVIENDA  HOGAR  RESULT NBI1 NBI2 NBI4 NBI5
0          5009        12     11       1    0    0    0    0
1          5009        41     11       1    0    0    0    0
4          5009        98     11       1    0    0    0    0
6          5015         7     11       1    0    0    0    0
7          5015        19     11       1    0    0    0    0
...         ...       ...    ...     ...  ...  ...  ...  ...
53417     20305        31     11       1    0    0    0    0
53418     20305        52     11       1    0    0    0    0
53419     20305        73     11       1    1    0    0    0
53421     20305       116     11       1    0    0    0    0
53422     20305       137     11       1    0    0    0    0

[34490 rows x 8 columns]

5. Queremos calcular una serie de variables (√≥ columnas nuevas):  
En sumaria: 
- Queremos el n√∫mero de miembros dependientes del hogar . Estos son el n√∫mero de personas que no perciben un ingreso √≥ la diferencia entre el total de miembros y el total de perceptores. 
- Queremos el ingreso mensual promedio por perceptor del hogar.
- Queremos la diferencia  entre ingreso y gasto del hogar


MIEPERHO: n√∫mero de miembros del hogar.
PERCEPHO: n√∫mero de perceptores del hogar (que reciben un ingreso).
POBREZA: Pobreza monetaria seg√∫n la l√≠nea de pobreza.
GASHOG2D: Gasto bruto anual del hogar.
INGHOG2D: Ingreso anual neto total del hogar.

In [213]:
personas_dep = modulo341['MIEPERHO'] - modulo341['PERCEPHO']

modulo341['DEPENDIENTES'] = personas_dep

modulo341

,AÔøΩO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,MIEPERHO,TOTMIEHO,...,POBREZA,TIPOCUESTIONARIO,TIPOENTREVISTA,FACTOR07,NCONGLOME,SUB_CONGLOME,LINEAV_RPL,LINEAV,POBREZAV,DEPENDIENTES
0,2020,1,5009,12,11,10101,4,4,2,2,...,3,0,1,149.202744,7076,0,657,560.468506,4,0
1,2020,1,5009,41,11,10101,4,4,2,2,...,3,0,1,149.202744,7076,0,657,553.731506,4,0
2,2020,1,5009,98,11,10101,4,4,6,6,...,3,0,1,149.202744,7076,0,657,547.194031,3,2
3,2020,1,5015,7,11,10101,4,4,4,4,...,3,0,1,70.492592,7089,0,657,556.025330,4,1
4,2020,1,5015,19,11,10101,4,4,4,4,...,3,0,1,70.492592,7089,0,657,548.526917,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,2020,12,20305,31,11,250301,7,4,1,1,...,3,2,1,275.828552,15122,0,657,641.312134,4,0
34486,2020,12,20305,52,11,250301,7,4,1,1,...,3,2,1,275.828552,15122,0,657,642.814026,4,0
34487,2020,12,20305,73,11,250301,7,4,1,1,...,3,2,1,275.828552,15122,0,657,641.782898,4,0
34488,2020,12,20305,116,11,250301,7,4,4,4,...,3,2,1,275.828552,15122,0,657,643.160034,3,3
34489,2020,12,20305,137,11,250301,7,4,4,4,...,3,2,1,275.828552,15122,0,657,639.233521,3,2

In [215]:
ingreso_mensual = modulo341_small['INGHOG2D'] / modulo341_small['PERCEPHO'] / 12 

modulo341['INGRESOxMES'] = ingreso_mensual

modulo341

,AÔøΩO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,MIEPERHO,TOTMIEHO,...,TIPOCUESTIONARIO,TIPOENTREVISTA,FACTOR07,NCONGLOME,SUB_CONGLOME,LINEAV_RPL,LINEAV,POBREZAV,DEPENDIENTES,INGRESOxMES
0,2020,1,5009,12,11,10101,4,4,2,2,...,0,1,149.202744,7076,0,657,560.468506,4,0,1553.101074
1,2020,1,5009,41,11,10101,4,4,2,2,...,0,1,149.202744,7076,0,657,553.731506,4,0,1748.648763
2,2020,1,5009,98,11,10101,4,4,6,6,...,0,1,149.202744,7076,0,657,547.194031,3,2,881.094482
3,2020,1,5015,7,11,10101,4,4,4,4,...,0,1,70.492592,7089,0,657,556.025330,4,1,1051.839193
4,2020,1,5015,19,11,10101,4,4,4,4,...,0,1,70.492592,7089,0,657,548.526917,4,1,2546.721137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,2020,12,20305,31,11,250301,7,4,1,1,...,2,1,275.828552,15122,0,657,641.312134,4,0,1185.662598
34486,2020,12,20305,52,11,250301,7,4,1,1,...,2,1,275.828552,15122,0,657,642.814026,4,0,953.500000
34487,2020,12,20305,73,11,250301,7,4,1,1,...,2,1,275.828552,15122,0,657,641.782898,4,0,1070.583333
34488,2020,12,20305,116,11,250301,7,4,4,4,...,2,1,275.828552,15122,0,657,643.160034,3,3,1750.779460
34489,2020,12,20305,137,11,250301,7,4,4,4,...,2,1,275.828552,15122,0,657,639.233521,3,2,825.943766

In [216]:

dif_ingreso_gas = (modulo341_small['INGHOG2D'] - modulo341_small['GASHOG2D'])

modulo341['INGRESO-GASTO'] = dif_ingreso_gas

modulo341

,AÔøΩO,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,MIEPERHO,TOTMIEHO,...,TIPOENTREVISTA,FACTOR07,NCONGLOME,SUB_CONGLOME,LINEAV_RPL,LINEAV,POBREZAV,DEPENDIENTES,INGRESOxMES,INGRESO-GASTO
0,2020,1,5009,12,11,10101,4,4,2,2,...,1,149.202744,7076,0,657,560.468506,4,0,1553.101074,12208.628906
1,2020,1,5009,41,11,10101,4,4,2,2,...,1,149.202744,7076,0,657,553.731506,4,0,1748.648763,13317.550781
2,2020,1,5009,98,11,10101,4,4,6,6,...,1,149.202744,7076,0,657,547.194031,3,2,881.094482,4156.316406
3,2020,1,5015,7,11,10101,4,4,4,4,...,1,70.492592,7089,0,657,556.025330,4,1,1051.839193,11054.056641
4,2020,1,5015,19,11,10101,4,4,4,4,...,1,70.492592,7089,0,657,548.526917,4,1,2546.721137,28370.421875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,2020,12,20305,31,11,250301,7,4,1,1,...,1,275.828552,15122,0,657,641.312134,4,0,1185.662598,1230.478516
34486,2020,12,20305,52,11,250301,7,4,1,1,...,1,275.828552,15122,0,657,642.814026,4,0,953.500000,751.404297
34487,2020,12,20305,73,11,250301,7,4,1,1,...,1,275.828552,15122,0,657,641.782898,4,0,1070.583333,1270.196289
34488,2020,12,20305,116,11,250301,7,4,4,4,...,1,275.828552,15122,0,657,643.160034,3,3,1750.779460,-2769.675781
34489,2020,12,20305,137,11,250301,7,4,4,4,...,1,275.828552,15122,0,657,639.233521,3,2,825.943766,2949.781250

6. La variable de `pobreza`, en la sumaria, est√° codificada como integers 1, 2 y 3. Esto corresponde a:  
`1`: hogar pobre extremo  
`2`: hogar pobre no extremo  
`3`: hogar no  pobre  

En base a esta variable, crea dos variables m√°s:
1. Una variable que tenga `'pobre extremo'`, `'pobre no extremo'` y `'no pobre'` en vez  de 1, 2, 3.
2. Una variable que tenga `'pobre'` y `'no pobre'` (√≥ que englobe a los hogares pobres y pobres no extremos).