In [12]:
import pandas as pd

In [79]:
modulo1 = pd.read_csv('Enaho01-2020-100.csv')

In [80]:
modulo341 = pd.read_csv('Sumaria-2020.csv')

In [81]:
modulo342 = pd.read_csv('Sumaria-2020-12g.csv')

In [82]:
modulo1

,A�O,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,PERIODO,TIPENC,...,FACTOR07,FACTOR_P,RECHAZO_RAZONES,NCONGLOME,SUB_CONGLOME,CODCCPP,NOMCCPP,LONGITUD,LATITUD,ALTITUD
0,2020,1,5009,12,11,10101,4,4,1,3,...,149.202744,186.594396,,7076,0,1,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
1,2020,1,5009,41,11,10101,4,4,1,3,...,149.202744,186.594396,,7076,0,1,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
2,2020,1,5009,56,11,10101,4,4,1,3,...,149.202744,186.594396,,7076,0,1,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
3,2020,1,5009,84,11,10101,4,4,1,3,...,149.202744,186.594396,,7076,0,1,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
4,2020,1,5009,98,11,10101,4,4,1,3,...,149.202744,186.594396,,7076,0,1,CIUDAD CHACHAPOYAS,-77.861290,-6.225835,2287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53418,2020,12,20305,52,11,250301,7,4,2,1,...,275.828552,379.820045,,15122,0,1,JUNTA VECINAL LAS PALMERAS,-75.513435,-9.041584,292
53419,2020,12,20305,73,11,250301,7,4,2,1,...,275.828552,379.820045,,15122,0,1,JUNTA VECINAL PALMERAS,-75.513435,-9.041584,292
53420,2020,12,20305,94,11,250301,7,4,2,1,...,275.828552,379.820045,,15122,0,1,AGUAYTIA,-75.513435,-9.041584,292
53421,2020,12,20305,116,11,250301,7,4,2,1,...,275.828552,379.820045,,15122,0,1,JUNTA VECINAL LAS PALMERAS,-75.513435,-9.041584,292
53422,2020,12,20305,137,11,250301,7,4,2,1,...,275.828552,379.820045,,15122,0,1,JUNTA VECINAL LAS PALMERAS,-75.513435,-9.041584,292

In [83]:
modulo341

,A�O,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,MIEPERHO,TOTMIEHO,...,LINEA,POBREZA,TIPOCUESTIONARIO,TIPOENTREVISTA,FACTOR07,NCONGLOME,SUB_CONGLOME,LINEAV_RPL,LINEAV,POBREZAV
0,2020,1,5009,12,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,560.468506,4
1,2020,1,5009,41,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,553.731506,4
2,2020,1,5009,98,11,10101,4,4,6,6,...,303.520996,3,0,1,149.202744,7076,0,657,547.194031,3
3,2020,1,5015,7,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,556.025330,4
4,2020,1,5015,19,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,548.526917,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,2020,12,20305,31,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.312134,4
34486,2020,12,20305,52,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,642.814026,4
34487,2020,12,20305,73,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.782898,4
34488,2020,12,20305,116,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,643.160034,3
34489,2020,12,20305,137,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,639.233521,3

In [84]:
modulo342

,A�O,MES,CONGLOME,VIVIENDA,HOGAR,UBIGEO,DOMINIO,ESTRATO,MIEPERHO,TOTMIEHO,...,LINEA,POBREZA,TIPOCUESTIONARIO,TIPOENTREVISTA,FACTOR07,NCONGLOME,SUB_CONGLOME,LINEAV_RPL,LINEAV,POBREZAV
0,2020,1,5009,12,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,560.468506,4
1,2020,1,5009,41,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,553.731506,4
2,2020,1,5009,98,11,10101,4,4,6,6,...,303.520996,3,0,1,149.202744,7076,0,657,547.194031,3
3,2020,1,5015,7,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,556.025330,4
4,2020,1,5015,19,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,548.526917,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,2020,12,20305,31,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.312134,4
34486,2020,12,20305,52,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,642.814026,4
34487,2020,12,20305,73,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.782898,4
34488,2020,12,20305,116,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,643.160034,3
34489,2020,12,20305,137,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,639.233521,3

2. - ¿Cuáles son las dimensiones de la sumaria? (o el número de filas y columnas).
   - ¿Cuáles son las dimensiones del módulo de vivienda? (o el número de filas y columnas).

In [85]:
modulo1.shape

(53423, 331)

In [86]:
modulo341.shape

(34490, 179)

In [87]:
modulo342.shape

(34490, 252)

3. En esta oportunidad no necesitaremos todas las variables de la ENAHO para hacer esta tarea. 
- Quedémonos con las variables ``` CONGLOME VIVIENDA HOGAR MIEPERHO PERCEPHO POBREZA GASHOG2D INGHOG2D ``` de la sumaria. 
- Quedémonos con las variables ``` CONGLOME VIVIENDA HOGAR RESULT NBI1 NBI2 NBI3 NBI4 NBI5 ``` del módulo de vivienda.

 
 Nota: cada una de las variables es:
- MIEPERHO: número de miembros del hogar. 
- PERCEPHO: número de perceptores del hogar (que reciben un ingreso). 
- POBREZA: Pobreza monetaria según la línea de pobreza. 
- GASHOG2D: Gasto bruto anual del hogar. 
- INGHOG2D: Ingreso anual neto total del hogar. 

Necesidades básicas:
- NBI1: vivienda inadecuada.
- NBI2: hacinamiento
- NBI3: vivienda sin servicios higiénicos
- NBI4: hogares con  niños que no asisten a la escuela.
- NBI5: hogares con alta dependencia económica 

CONGLOME, VIVIENDA y HOGAR son los identificadores únicos a nivel de hogar (como un key id).

In [88]:
modulo1.columns

Index(['A�O', 'MES', 'CONGLOME', 'VIVIENDA', 'HOGAR', 'UBIGEO', 'DOMINIO',
       'ESTRATO', 'PERIODO', 'TIPENC',
       ...
       'FACTOR07', 'FACTOR_P', 'RECHAZO_RAZONES', 'NCONGLOME', 'SUB_CONGLOME',
       'CODCCPP', 'NOMCCPP', 'LONGITUD', 'LATITUD', 'ALTITUD'],
      dtype='object', length=331)

In [100]:
necessmodulo1 = ['CONGLOME', 'VIVIENDA', 'HOGAR', 'RESULT', 'NBI1', 'NBI2', 'NBI4', 'NBI5']

In [101]:
necessmodulo341 = ['CONGLOME', 'VIVIENDA', 'MIEPERHO', 'PERCEPHO', 'POBREZA', 'GASHOG2D', 'INGHOG2D']

In [102]:
necessmodulo342 = ['CONGLOME', 'VIVIENDA', 'MIEPERHO', 'PERCEPHO', 'POBREZA', 'GASHOG2D', 'INGHOG2D']

In [103]:
modulo1[necessmodulo1]

       CONGLOME  VIVIENDA  HOGAR  RESULT NBI1 NBI2 NBI4 NBI5
0          5009        12     11       1    0    0    0    0
1          5009        41     11       1    0    0    0    0
2          5009        56     11       7
3          5009        84     11       7
4          5009        98     11       1    0    0    0    0
...         ...       ...    ...     ...  ...  ...  ...  ...
53418     20305        52     11       1    0    0    0    0
53419     20305        73     11       1    1    0    0    0
53420     20305        94     11       7
53421     20305       116     11       1    0    0    0    0
53422     20305       137     11       1    0    0    0    0

[53423 rows x 8 columns]

In [95]:
modulo341_small = modulo341[necessmodulo341]

In [96]:
modulo342_small = modulo342[necessmodulo342]

In [97]:
modulo1_small

[['CONGLOME', 'VIVIENDA', 'HOGAR', 'RESULT', 'NBT1', 'NBT2', 'NBT4', 'NBT5']]

In [98]:
modulo341_small

,CONGLOME,VIVIENDA,MIEPERHO,PERCEPHO,POBREZA,GASHOG2D,INGHOG2D
0,5009,12,2,2,3,25065.796875,37274.425781
1,5009,41,2,2,3,28650.019531,41967.570312
2,5009,98,6,4,3,38136.218750,42292.535156
3,5015,7,4,3,3,26812.154297,37866.210938
4,5015,19,4,3,3,63311.539062,91681.960938
...,...,...,...,...,...,...,...
34485,20305,31,1,1,3,12997.472656,14227.951172
34486,20305,52,1,1,3,10690.595703,11442.000000
34487,20305,73,1,1,3,11576.803711,12847.000000
34488,20305,116,4,1,3,23779.029297,21009.353516
34489,20305,137,4,2,3,16872.869141,19822.650391

In [99]:
modulo342_small

,CONGLOME,VIVIENDA,MIEPERHO,PERCEPHO,POBREZA,GASHOG2D,INGHOG2D
0,5009,12,2,2,3,25065.796875,37274.425781
1,5009,41,2,2,3,28650.019531,41967.570312
2,5009,98,6,4,3,38136.218750,42292.535156
3,5015,7,4,3,3,26812.154297,37866.210938
4,5015,19,4,3,3,63311.539062,91681.960938
...,...,...,...,...,...,...,...
34485,20305,31,1,1,3,12997.472656,14227.951172
34486,20305,52,1,1,3,10690.595703,11442.000000
34487,20305,73,1,1,3,11576.803711,12847.000000
34488,20305,116,4,1,3,23779.029297,21009.353516
34489,20305,137,4,2,3,16872.869141,19822.650391